Trunk uses wrong the wrong base64 alphabet for `integrity` hashes

Hi,

Trunk version `0.19.1` is generating incorrect integrity hashes such as this one:

```html
<link href=/favicon-32x32-33abe4bf0e53934c.png integrity=sha384-0Zy966gMg2P2uZhUAv8IdixXEIejROvJyU28_fbsDk_3geMKyy84V0zSrHs2pN-H rel=icon>
```

Which causes some browsers such as Firefox under Linux (version 112.0 on Arch Linux x64_amd) to fail loading a resource with the following error:

```txt
The hash contained in the integrity attribute could not be decoded.
None of the “sha384” hashes in the integrity attribute match the content of the subresource.
```

This is because trunk is using base64 URL encoding (RFC4648 P5) while Firefox expects base64 (RFC3548). According to the [subresource integrity standard](https://w3c.github.io/webappsec-subresource-integrity/#the-integrity-attribute) the [base64 alphabet](https://datatracker.ietf.org/doc/html/rfc4648#section-4) should be used (where there is no `_` or `-`).

Thank you.


Thanks for bringing this up. However, so far I haven't seen an error on this (which doesn't mean anything), but also from the linked docs, I can't see that requirement. I am sure I am missing something.

> However, so far I haven't seen an error on this

I also don't see any errors or warnings and most of our users don't have any issues at all. However, we received a [bug report](https://github.com/stalwartlabs/mail-server/issues/325) recently from a user using Firefox on Linux where the page does not load at all due to invalid characters in the integrity hash. 

> from the linked docs, I can't see that requirement

The grammar in the [subresource integrity standard](https://w3c.github.io/webappsec-subresource-integrity/#the-integrity-attribute) indicates:

```txt
base64-value       = <base64-value production from [Content Security Policy Level 2, section 4.2]>
```

Then you can follow the link to the [Content Security Policy Level 2, section 4.2](https://www.w3.org/TR/CSP2/#source-list-syntax) where `base64-value` is defined as:

```txt
base64-value      = 1*( ALPHA / DIGIT / "+" / "/" )*2( "=" )
```

As you can see in the ABNF, both '_' and '-' are invalid characters.

There are 2 types of base64 encoding alphabet (the 64 characters used for the 64 base digits). The official alphabet (which is described in RFC4648), use, well the known alphanumeric range + `/` and `+`. This alphabet collides with special characters used in URL so another, alternate alphabet is described in the same RFC for an encoding called `base64 url`. In this base64URL alphabet, the digit `/` is replaced by `_` and the digit `+` is replaced by `-`.

This encoding should be used exclusively in URL and not anywhere else. 

The issue is that this repository use this alphabet to encode the SHA hash of the subresource integrity while it should be using the former, official alphabet. Browser respecting the subresource integrity specification thus can't decode the hash (since it's encoded with the bad alphabet) and will refuse to load the resource, leading to catastrophic issues (no CSS, no JS, no WASM module loaded). 

The specification linked above is [clear](https://w3c.github.io/webappsec-subresource-integrity/#base64-encoding) and explicitely specify to use the alphabet in [section 4 of RFC 4648](https://datatracker.ietf.org/doc/html/rfc4648#section-4) and not those of section 5.

In the example digest above, instead of  
```
integrity=sha384-0Zy966gMg2P2uZhUAv8IdixXEIejROvJyU28_fbsDk_3geMKyy84V0zSrHs2pN-H
```
It should have read:
```
integrity=sha384-0Zy966gMg2P2uZhUAv8IdixXEIejROvJyU28/fbsDk/3geMKyy84V0zSrHs2pN+H
```
to be correct.

It happens that Chrome actually fallback to base64URL decoding if it fails to decode base64 alphabet (it shouldn't). Firefox doesn't (as it should).





Thanks, that makes it clear! If you can come up with a PR for `main`, I can backport it and push out a release.

[Done](https://github.com/trunk-rs/trunk/pull/766).

Should be released as `0.19.2`. Thanks for the quick PR!

Thanks for the quick release! We'll test this today.

Same issue happens to me but also on Chromium based browsers:

```bash
❯ trunk --version             
trunk 0.21.4
```

Error:
```
None of the “sha384” hashes in the integrity attribute match the content of the subresource. The computed hash is “OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb”.
```

```
<link rel="icon" href="/favicon-9b47a081b550ab79.ico" integrity="sha384&#x2D;cZ6mJoYMVgrAZ9BVt2a9yLyEF7YIlQObcwtL5CxDtUnvxAOJcwIH0gDGgXiY68Tc"/>
```

Can somebody confirm this?

The fact that you have `&#x2D;` in the attribute means that you're double encoding the attribute (with html encoding, since 0x2D is the ASCII encoding of `-` that should be read instead). If I were you I would double check the processing done on the HTML generation, you must not encode the attribute value.

> Same issue happens to me but also on Chromium based browsers:
> 
> ```shell
> ❯ trunk --version             
> trunk 0.21.4
> ```
> 
> Error:
> 
> ```
> None of the “sha384” hashes in the integrity attribute match the content of the subresource. The computed hash is “OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb”.
> ```
> 
>  ```
> <link rel="icon" href="/favicon-9b47a081b550ab79.ico" integrity="sha384&#x2D;cZ6mJoYMVgrAZ9BVt2a9yLyEF7YIlQObcwtL5CxDtUnvxAOJcwIH0gDGgXiY68Tc"/>
> ```
> 
> Can somebody confirm this?

Yes. I stuck exactly into the same problem.